body {
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
}

.login, .chat {
  margin-top: 40px;
  width: 350px;
}

.messages {
  height: 300px;
  background: #fff;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
}

input, button {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
}
